---
import PageHeader from "@/components/core/PageHeader.astro";
import Base from "@/layouts/Base.astro";
import { getEntry } from "astro:content";

const changelog = await getEntry("changelog", "index");
if (!changelog) {
  throw new Error("Changelog page not found");
}
const page_data = {
  ...changelog.data,
  content: changelog.body,
};
const { Content } = await changelog.render();
---

<Base entry_keys={["changelog", "index"]}>
  <section class="py-16">
    <div class="container">
      <div class="mx-auto max-w-[768px] text-center">
        <PageHeader page_data={page_data} />
      </div>
      <Content />
    </div>
  </section>
</Base>
